<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <servlet-class>controller.CheckUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPasswordServlet</servlet-name>
        <servlet-class>controller.CheckPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDoExam</servlet-name>
        <servlet-class>controller.UserDoExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishExam</servlet-name>
        <servlet-class>controller.FinishExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>controller.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDController</servlet-name>
        <servlet-class>controller.CRUDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionCRUD</servlet-name>
        <servlet-class>controller.QuestionCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonServlet</servlet-name>
        <servlet-class>controller.JsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DethiCRUD</servlet-name>
        <servlet-class>controller.DethiCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thongke</servlet-name>
        <servlet-class>controller.thongke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LamDeThi</servlet-name>
        <servlet-class>controller.LamDeThi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <url-pattern>/CheckUsernameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPasswordServlet</servlet-name>
        <url-pattern>/CheckPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDoExam</servlet-name>
        <url-pattern>/UserDoExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishExam</servlet-name>
        <url-pattern>/FinishExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/QuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDController</servlet-name>
        <url-pattern>/CRUDController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionCRUD</servlet-name>
        <url-pattern>/QuestionCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonServlet</servlet-name>
        <url-pattern>/JsonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DethiCRUD</servlet-name>
        <url-pattern>/DethiCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thongke</servlet-name>
        <url-pattern>/thongke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LamDeThi</servlet-name>
        <url-pattern>/LamDeThi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
