<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <servlet-class>controller.CheckUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPasswordServlet</servlet-name>
        <servlet-class>controller.CheckPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDoExam</servlet-name>
        <servlet-class>controller.UserDoExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishExam</servlet-name>
        <servlet-class>controller.FinishExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>controller.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDController</servlet-name>
        <servlet-class>controller.CRUDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionCRUD</servlet-name>
        <servlet-class>controller.QuestionCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonServlet</servlet-name>
        <servlet-class>controller.JsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DethiCRUD</servlet-name>
        <servlet-class>controller.DethiCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thongke</servlet-name>
        <servlet-class>controller.thongke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LamDeThi</servlet-name>
        <servlet-class>controller.LamDeThi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangtoanServlet</servlet-name>
        <servlet-class>controller.DangtoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLyThuyet</servlet-name>
        <servlet-class>controller.EditLyThuyet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>controller.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDangBT</servlet-name>
        <servlet-class>controller.getDangBT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonHocCRUD</servlet-name>
        <servlet-class>controller.MonHocCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLop</servlet-name>
        <servlet-class>controller.getLop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LopCRUD</servlet-name>
        <servlet-class>controller.LopCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangToanCRUD</servlet-name>
        <servlet-class>controller.DangToanCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangBTCRUD</servlet-name>
        <servlet-class>controller.DangBTCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XemSoLuot</servlet-name>
        <servlet-class>controller.XemSoLuot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LatexTest</servlet-name>
        <servlet-class>controller.LatexTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Practice</servlet-name>
        <servlet-class>controller.Practice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsernameServlet</servlet-name>
        <url-pattern>/CheckUsernameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPasswordServlet</servlet-name>
        <url-pattern>/CheckPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDoExam</servlet-name>
        <url-pattern>/UserDoExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishExam</servlet-name>
        <url-pattern>/FinishExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/QuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDController</servlet-name>
        <url-pattern>/CRUDController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionCRUD</servlet-name>
        <url-pattern>/QuestionCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonServlet</servlet-name>
        <url-pattern>/JsonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DethiCRUD</servlet-name>
        <url-pattern>/DethiCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thongke</servlet-name>
        <url-pattern>/thongke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LamDeThi</servlet-name>
        <url-pattern>/LamDeThi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangtoanServlet</servlet-name>
        <url-pattern>/DangtoanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLyThuyet</servlet-name>
        <url-pattern>/EditLyThuyet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDangBT</servlet-name>
        <url-pattern>/getDangBT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonHocCRUD</servlet-name>
        <url-pattern>/MonHocCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLop</servlet-name>
        <url-pattern>/getLop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LopCRUD</servlet-name>
        <url-pattern>/LopCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangToanCRUD</servlet-name>
        <url-pattern>/DangToanCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangBTCRUD</servlet-name>
        <url-pattern>/DangBTCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XemSoLuot</servlet-name>
        <url-pattern>/XemSoLuot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LatexTest</servlet-name>
        <url-pattern>/LatexTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Practice</servlet-name>
        <url-pattern>/Practice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
